<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
회원가입

<form action="/member/api/join" method="post">
    <div class="form-group">
        <table>
            <tr>
                <td>
                    <label for="memberId">ID</label>
                </td>
                <td>
                    <input style="width: 200px" type="text" id="memberId" name="memberId" placeholder="id를 입력해주세요"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">PASSWORD</label>
                </td>
                <td>
                    <input style="width: 200px" type="text" id="password" name="password"
                           placeholder="PASSWORD를 입력해주세요"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="passwordConfirm">PASSWORD 확인</label>
                </td>
                <td>
                    <input style="width: 200px" type="password" id="passwordConfirm" name="passwordConfirm"
                           placeholder="같은 PASSWORD를 입력해주세요"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="memberName">NAME</label>
                </td>
                <td>
                    <input style="width: 200px" type="text" id="memberName" name="memberName"
                           placeholder="이름을 입력해주세요"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="phoneNumber">PHONE NUMBER</label>
                </td>
                <td>
                    <input style="width: 200px" type="text" id="phoneNumber" name="phoneNumber"
                           placeholder="01012345678"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email">EMAIL</label>
                </td>
                <td>
                    <input style="width: 200px" type="email" id="email" name="email"
                           placeholder="test@example.com"/>
                </td>
            </tr>
        </table>
    </div>
    <button type="submit">submit</button>
    <button type="button">cancle</button>


</form>
</body>
</html>
