<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
Login 화면

<form action="/member/api/join" method="post">
    <div class="form-group">
        <table>
            <tr>
                <td>
                    <label for="memberId">ID</label>
                </td>
                <td>
                    <input style="width: 200px" type="text" id="memberId" name="memberId" placeholder="id를 입력해주세요"/>
                </td>

            </tr>
            <tr>
                <td>
                    <label for="password">PASSWORD</label>
                </td>
                <td>
                    <input style="width: 200px" type="text" id="password" name="password"
                           placeholder="PASSWORD를 입력해주세요"/>
                </td>
            </tr>
        </table>
    </div>
    <button type="submit">submit</button>
    <button type="button">cancle</button>


</form>

</body>
</html>
